
{% load static %}
{% block cssnya %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet wajib" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/story10.css' %}" type="text/css">
    <title>Daftar</title>
    <link rel="stylesheet" href="{% static 'css/story8.css' %}" id="maincss">
    <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
    <link rel="icon" href="http://icons.iconarchive.com/icons/iconsmind/outline/256/Open-Book-icon.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}

<body>
<div>
    <main>
        <div class = "site-entrance">
            <div class="d-flex justify-content-center">
                <div class = "div1">
                    <h4 class= "judul">Selamat Datang!</h4>
                    {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible" role="alert" id="django-messages">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    {% endfor %}
                    <form class="post-form" id="form1">{% csrf_token %}
                        {% for obj in form %}
                            {{obj}}
                        {% endfor %}
                        <button style="align-self:center" type="submit" class="save-btn"  id="submitz"  disabled>Daftar</button>
                    </form>
                </div>
                <div>
                    <table class="table table-striped" id="listsubscriber" style="color:antiquewhite">
                        <tr>
                            <th>Subscriber</th>
                            <th>Unsubscribe</th>
                        </tr>
                        <div id="subscriber"></div>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="{% static 'js/story10.js'%}"></script>
</body>