{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet wajib" href="{% static 'css/bootstrap.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/story8alter.css' %}" id="maincss">
    <link rel="icon" href="http://icons.iconarchive.com/icons/iconsmind/outline/256/Open-Book-icon.png">
	<title>Book List</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <main class="site-entrance">
        <div class="table-responsive">
            <table class="table table-striped" id="listsubscriber">
                <tr>
                    <th>Subscriber</th>
                    <th>Unsubscribe</th>
                </tr>
                <div id="subscriber"></div>
            </table>
        </div>
    </main>
    <script src="{% static 'js/story10.js'%}"></script>
</body>