main
{
    background-color: #C0F3F0;
}

body
{
    background-color: #C0F3F0;
    font-family: 'Poppins';
}

button{
    color: #666D6D;
}
a{
    color: #666D6D;
}


#submitbutton
{
    background-color: #9AF3D3;
    color: #666D6D;
    background-image: none;
    border-color: #9AF3D3;
}

.div1 {
    align-content: center;
    align-self: center;
    align-items: center;
    width: 350px;
    height: max-content;
    box-sizing: border-box;
    border-radius: 10%;
    border: 7px solid #8FDADF;
    background-color: #FFF7F7;
    Fill: Solid #FFF7F7;
    Stroke: Solid #8FDADF;
    text-align: center;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.site-entrance {
    float:center;
    min-height: 100px;
    align-content: center;
    align-self: center;
    align-items: center;
    background-size: cover;
    margin: 0 0 -40px;
    padding: 50px 0;
    position: relative;
    text-align: center;
}

.form-control {
    margin: 20px;
    width: 90%;
}

.judul{
    margin:20px;
}

#submitz {
    margin-top: 0px;
    background-color: #163c77;
    color:#fff60f;
    border-style: none;
    font-weight: bold;
    align-self:center;
}