body {
    font-family: 'Century Gothic', sans-serif;
}
#save
{
    margin-top: 10px;
}


#form-control {
    margin: 20px;
    width: 90%;
    margin-bottom: 5px;
}

#judul{
    margin:20px;
    color: #D1F8F6; 
    font-size: 8vw;
}