main
{
    background-color:#163c77;
}

#loader {
    font-size:64px;
    color:#70dbff;
    float:center;
    min-height: 100px;
    align-content: center;
    align-self: center;
    align-items: center;
    background-size: cover;
    margin: 0 0 -40px;
    padding: 50px 0;
    position: relative;
    text-align: center;
}

.star {
    font-size:64px;
    color:#fcff6b;
    float:center;
    min-height: 100px;
    align-content: center;
    align-self: center;
    align-items: center;
    background-size: cover;
    margin: 0 0 -40px;
    padding: 50px 0;
    position: relative;
    text-align: center;
}

#loader-container {
    line-height: 200px;
    height: 200px;
    text-align: center;
}

#loader-container i {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

#myDiv {
    display: none;
    text-align: center;
  }

p {
    color: #D1F8F6;
}

body
{
    background-color:#163c77;
    font-family: 'Dekko';
    font-size: 22px;
}
ul.a {
    list-style-type: circle;
}

.site-entrance {
    float:center;
    min-height: 100px;
    align-content: center;
    align-self: center;
    align-items: center;
    background-size: cover;
    margin: 0 0 -40px;
    padding: 50px 0;
    position: relative;
    text-align: center;
}

.accordion {
    margin: 50px;   
    dt, dd {
       padding: 10px;
       &:last-of-type { 
       }
       a {
         display: block;
         color: black;
         font-weight: bold;
       }
    }
   dd {
      font-size: 12px;
      &:last-of-type {
        position: relative;
        top: -1px;
      }
   }
 }
 a {
   text-decoration: none;
 }
 .div1 {
    align-content: center;
    align-self: center;
    align-items: center;
    width: 600px;
    height: max-content;
    box-sizing: border-box;
    border: 7px solid #70dbff ;
    background-color: #D1F8F6;
    Fill: Solid #D1F8F6;
    Stroke: Solid #70dbff;
    text-align: center;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color:#163c77;
}

h1 {
    color: #D1F8F6; text-align: center;
}

button{
    margin-top: 10px;
    background-color: #D1F8F6;
    color:#163c77;
    border-style: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 10px;
    align-self:center;
}

#switcher {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #switcher li {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 15px 15px 0;
    border-radius: 30px;
    border: 3px solid black;
  }
  
  li #lightButton{
    background: #D1F8F6;
  }
  #darkButton {
    background: #163c77;