{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Hi! I'm Nida</title>
</head>
{% block content %}
    {% if user.is_authenticated %}
    <body>
			<h3>Hello, {{ user.username }}</h3>
    </body>      
	{% else %}
             <a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock content %}
