{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet wajib" href="{% static 'css/bootstrap.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/story8.css' %}" id="maincss">
    <link rel="icon" href="https://png.icons8.com/ios/1600/koala.png">
	<title>Hi! I'm Nida</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--accordion source https://codepen.io/thirdtiu/pen/uDyxr-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<main>
<body onload="myFunction()">
    <div class="site-entrance" id="loader-container">
        <i class="fa fa-circle-o-notch fa-spin"  id="loader"></i>
    </div>
    <div class="site-entrance" id="myDiv" style="display:none;">
            <h1 class="display-3">Annida Safira A.</h1>
        <div class="d-flex justify-content-center">
            <img src="{% static 'img/ok.jpg' %}" width="300px" height="300px" style="border-radius: 30%">   
        </div>
        <div class="d-flex justify-content-center">
            <div class="accordion">
                <dt><a href=""><div class="div1">Aktivitas</div></a></dt>
                <dd>
                    <div class="div1">
                            <ul class="a">
                                    <li>Tidur</li>
                                    <li>Baca novel</li>
                                    <li>Main Game</li>
                            </ul>
                    </div>
                </dd>
                <dt id="pengalaman"><a href=""><div class="div1">Pengalaman Organisasi/Kepanitiaan</div></a></dt>
                <dd>
                    <div class="div1">
                        <ul class="a">
                                <li>Chatbot Invasion competition Staff. COMPFEST X (2018)</li>
                                <li>Academic Staff. PMB 2018 (new student orientation) (2018)</li>
                                <li>Legislation and judication staff. DPM Fasilkom UI 2018 (2018)</li>
                        </ul>
                    </div>
                </dd>
                <dt><a href=""><div class="div1">Prestasi</div></a></dt>
                <dd>
                    <div class="div1">
                            <ul class="a">
                                <li>Bronze medalist. Singapore Mathematics Olympiad (2015)</li>
                                <li>Semifinalist. MGMP (Mathematics competition in Jakarta) (2015)</li>
                                <li>CPSC Semifinalist. PSN (2015)</li>
                            </ul>
                    </div>
                </dd>
            </div>
        </div>
        <div class="d-flex justify-content-center">
                <p>Tema yang tersedia:</p>
                <ul id="switcher">
                        <li id="lightButton" style="background:#D1F8F6"></li>
                        <li id="darkButton" style="background: #163c77"></li>
                    </ul>
                    <a href="{% url 'daftar' %}" class="btn">Subscribe</a>
        </div>
    </div>
</main>
<script src="{% static 'js/story8.js'%}"></script>
</body>
