{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet wajib" href="{% static 'css/bootstrap.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/story8alter.css' %}" id="maincss">
    <link rel="icon" href="http://icons.iconarchive.com/icons/iconsmind/outline/256/Open-Book-icon.png">
	<title>Book List</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

{% block content %}
<h2>Login</h2>
   <br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
{% endblock %}