{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet wajib" href="{% static 'css/bootstrap.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/story8alter.css' %}" id="maincss">
    <link rel="icon" href="http://icons.iconarchive.com/icons/iconsmind/outline/256/Open-Book-icon.png">
	<title>Book List</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

{% block content %}
    {% if user.is_authenticated %}
    <body>
        <header>
                <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #D1F8F6" >
                        <div style="width:100%">
                          <button type="button" id = "counter" class="btn btn-lg btn-primary" disabled>★: {{jumlah}}</button>
                          <a href="{% url 'logout' %}">Log out</a>
                          <h3>Hello, {{ user.username }}</h3>
                          <div class="float-right">
                                <div class="form-inline" id="form1">
                                    {% for obj in form %}
                                        {{obj}}
                                    {% endfor %}
                                    <button id="submit" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </div>
                          </div>
                        </div>
                </nav>
        </header>
        <main class="site-entrance">
            <div class="table-responsive">
                <table class="table table-striped" id="listbuku">
                    <tr>
                        <th>Judul</th>
                        <th>Cover Buku</th>
                        <th>Penulis</th>
                        <th>ISBN 13</th>
                        <th>Favorit Saya</th>
                    </tr>
                    <div id="books"></div>
                </table>
            </div>
        </main>
        <script src="{% static 'js/story9.js'%}"></script>
    </body>
	{% else %}
             <a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}
{% endblock content %}
